html{
    width:100%;
    height: 100%;
    background-color: #98FFFF;
    font-size: 30px;
}
.title{
    font-size: 3rem;
    color:#0C9390;
    padding:1rem;
    text-align: center;
}
.orange-btn{
    border-color: #ff8c00 #e8890d #e8890d #ff8c00;
    border-radius:10px;
    border-style:solid;
    border-width: 5px;
    background-color: orange;
    padding:0.5rem;
    color:white;
}
.orange-btn:hover{
    background-color: #ff8c00;
}
button{
    border-radius:10px;
    border-style:solid;
    border-width: 5px;
    padding:0.5rem;
    color:white;
}
.blue-btn{
    border-color: #0C9390 #0C6B69 #0C6B69 #0C9390;
    border-radius:10px;
    border-style:solid;
    border-width: 5px;
    background-color: #0CD3ff;
    padding:0.5rem;
    color:white;
}
.blue-btn:hover{
    background-color: #0C9390;
}
.confirm-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border{
    border-color: #0C9390 #0C6B69 #0C6B69 #0C9390;
    border-radius:20px;
    border-style:solid;
    border-width: 5px;
}
.wait-box{
    display: flex;
    flex-direction: column;
    align-items:center;
}
button.black{
    border-color: black;
    background-color: #3f3f3f;
}
button.black:hover{
    background-color: gray;
}