
body{
    width: 100%;
}
#choose-box{
    padding:1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-box{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gray{
    color:gray;
}
.input-container{
    width: 10rem;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding:5px;
    margin : 1rem;
    border:solid 1px;
}

.account-number{
    font-size: 1.5rem;
    align-content: center;
}
.numpad-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0.5rem;
}
.numpad{
    font-size: 1rem;
    font-weight: bold;
    background-color: #E7E7E7;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enter:nth-child(13){
    grid-column: 1/4
}
.enter{
    width:8rem;
    color:green
    
}
.del{
    color:red
}
.title{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.3rem;
}
.select{
    background-color: blue;
    color:white;
    border-radius: 0.2rem;
    padding:0.5rem;
    font-size: 0.5rem;
    width:5rem;
    text-align: center;
    margin-bottom: 0;
}
.select::after{
    content:" ▼";
}
ul{
    background-color: white;
    font-size: 0.3rem;
    width:auto;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0;
    border-radius: 0.2rem;
}
    
li{
    text-align: center;
    padding:0.4rem;
    margin:0.1rem;
}
li:hover{
    background-color: skyblue;
    color:white;
}
#back{
    align-self: flex-end;
    margin-top: 1rem;
}
.disabled{
    background-color:gray;
}
#amount-check{
    text-align: center;
    font-weight: 600;
}
button{
    width:auto;
    min-width: 5rem;
    height: 2rem;
    padding:0.2rem !important;
    margin:1rem;
    font-size: 1rem;
}
#success-box>.btn-box>button{
    font-size: 0.6rem;
}
.check-img{
    background-image: url("../assets/checkmark.png");
    width:10rem;
    height: 10rem;
    margin:1rem;
    background-size: contain;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}