body{
    width: 100%;
}
#amount-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 90%;
}
.column-box{
    display: flex;
    flex-direction: column;
    height: max-content;
    height: 90%;
}
.space-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.amount-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.amount{
    text-align: center;
    border:solid 1px;
    background-color: white;
    width:2rem;
}
.absolute{
    position: absolute;
    left:60%;
}
.arrow{
    width:3rem;
    height: 3rem;
    background-size: contain;
}
.up100{
    background-image: url('../assets/uparrow100copy.png');
}
.up20{
    background-image: url('../assets/uparrow20copy.png');
}
.down100{
    background-image: url('../assets/downarrow100copy.png');
}
.down20{
    background-image: url('../assets/downarrow20copy.png');
}
.up100:hover{
    background-image: url('../assets/uparrow100copyhover.png');
}
.up20:hover{
    background-image: url('../assets/uparrow20copyhover.png');
}
.down100:hover{
    background-image: url('../assets/downarrow100copyhover.png');
}
.down20:hover{
    background-image: url('../assets/downarrow20copyhover.png');
}
div.orange-btn{
    font-size: 0.5rem;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check-img{
    background-image: url("../assets/checkmark.png");
    width:10rem;
    height: 10rem;
    margin:1rem;
    background-size: contain;
}